<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
         
    <% for(var i=0; i<data.length; i++) {%>
        
        
        
        <%const date = new Date(data[i].game_time);
            const today = new Date();
            var days = Math.floor((date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24) )
            var hours = Math.floor((((date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24)) - days)*24)
            var minutes = Math.floor((((((date.getTime() - today.getTime()) / (1000 * 60 * 60 * 24)) - days)*24)-hours)*60)
        %>
        <% if (days < 0 || hours < 0 || minutes < 0) { %>
                 
        <%} else { %>
            <form id="game<%= data[i].game_id %>" method="post" action="game">
                <% for(const property in data[i]) {%>
                    <input type="hidden" name="<%=`${property}`%>" value="<%=`${data[i][property]}`%>">
                <% } %>
            </form>
            <h2 class="dayHeader" >
                <span style="text-align: center; display:inline-block;vertical-align: top;background-color: white; height: 100%; border-radius: 2vh;">
                    <a href="#yes">
                        <span style="display: inline-block; vertical-align: top; padding-left: 1vw; padding-right: 1vw; ">
                            <img src="yes_icon_selected.png" alt="RSVP Yes" width="30" height="30">
                        
                        </span>
                    </a><br><a href="#no" >
                        <span style="display: inline-block; vertical-align: top; padding-left: 1vw;padding-right: 1vw;">
                            <img src="no_icon_selected.png" alt="RSVP No" width="25" height="25";">
                        
                        </span>
                    </a></span><a  onclick="document.getElementById('game' + <%= data[i].game_id %>).submit()">
                    <span style="display: inline-block; vertical-align: top;">
                        <span style="display: inline-block; vertical-align: top; padding-left: 1vw;padding-right: 1vw;">
                            <% if (days == 1) { %>
                                Tomorrow 
                                <br>
                                <%= new Intl.DateTimeFormat('en-US', { dateStyle: 'medium'}).format(date) %>
                            <%} else if (days > 0) { %>
                                <%= new Intl.DateTimeFormat('en-US', { dateStyle: 'medium'}).format(date) %> 
                                <br>
                                <%=days + " Days " %>
                            <%} else { %>
                                Today
                                <br>
                                <%=hours + " Hrs " + minutes + " Mins " %>
                            <% } %>
                            
                        </span>
                        <span style="display: inline-block; vertical-align: top; padding-left: 1vw;padding-right: 1vw;">
                            <%= data[i].facility %> 
                            <br>
                            Field: <%= data[i].field %> 
                        </span>
                        <span style="display: inline-block; vertical-align: top; padding-left: 1vw;padding-right: 1vw;">
                            <%= data[i].home %>
                            <br>
                            <%= data[i].away %> 
                        </span>
                    </span>
                </a>
                
            </h2>
        <% } %>
    
     <% } %>
</body>
</html>