<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="form-popup" id="addItem" style="display: block;">
        <form action="/forms/add" class="form-container" method="POST" autocomplete="off">
          <% for(var i=0; i<data.length; i++) {%>
            <% if(data[i] !== 'id'){ %> 
            <script> 
              var formData = <%= functions.labelFinder(data[i]) %> 
            </script>
            
            <label for="<%= data[i]  %>"><b><%= formData.label  %></b></label>
            <br>
            <input type="<%= formData.type  %>" placeholder="<%= formData.label  %>" name="<%= data[i]  %>" required="<%= formData.required %>">
            <br>
            <% } %> 
          <% } %>    
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" >Cancel</button>
        </form>
      </div>
</body>
</html>