<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% for(var i=0; i<data.length; i++) {%>
        <% trimName = data[i].organization_name.replace(/[^a-zA-Z0-9]/g, '')%> 
        <form id="<%= trimName %>" method="post" action="organization">
            <input type="hidden" name="name" value="<%= data[i].organization_name %>">
            <input type="hidden" name="id" value="<%= data[i].id %>">
            <input type="hidden" name="tab" value="<%= tab %>">
        </form>
        <a onclick="<%= trimName %>.submit();" style="text-decoration: none;">
            <div>
                <h2 class="dayHeader">
                    <img src="Soccerball.jpeg" alt="Temp Icon" width="50" height="50">
                    <%= data[i].organization_name %>
                    
                </h2>
            </div>
        </a>
     <% } %>
</body>
</html>