<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% for(var i=0; i<data.length; i++) {%>
        <script>
            console.log(<%= data[i]%>)
        </script>
        <% if (data[i].team == id) { %>            
            <% trimName = data[i].first_name.replace(/[^a-zA-Z0-9]/g, '')%> 
            <form id="<%= trimName %>" method="post" action="player">
                <input type="hidden" name="name" value="<%= data[i].first_name %>">
                <input type="hidden" name="id" value="<%= data[i].user %>">
                <input type="hidden" name="tab" value="<%= tab %>">
            </form>
            
            <a onclick="<%= trimName %>.submit();" style="text-decoration: none;">
                <div>
                    <h2 class="dayHeader">
                        <%= data[i].first_name%> <%= data[i].last_name%>
                        <br>
                        <%= data[i].nickname%>
                    </h2>
                </div>
            </a>
        <% } %>
     <% } %>
</body>
</html>